										 <dd data-rentStyle="booked">
										 	<span class="romm_NUM">编号：G1814</span>
										 	<div class="room-info">
										 		<p class="room-title">主卧01</p>
										 		<p class="room-envirn">独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗</p>
										 	</div>
										
										 	<div class="jtBox"><span class="jt"></span>
										 		<div class="detail_Choices">
										 			<ul>
										 				<li><a href="javascript:;">查看</a></li>
										 				<li><a href="javascript:;">续租</a></li>
										 				<li><a href="javascript:;">退租</a></li>
										 				<li><a href="javascript:;">预订</a></li>
										 				<li><a href="javascript:;">停用</a></li>
										 				<li><a href="javascript:;">预约退租</a></li>
										 			</ul>
										 		</div>
										 	</div>
										 	<div class="renter">
										 	<span class="icon_Style ifont"><span class="book">&#xe6a3;</span></span>
										 	</div>
										 	<div class="booked_Detail tc_Detail">
										 		<ol>
										 			<li><span class="name">预订人姓名：</span><span class="text">老黄</span></li>
										 			<li><span class="name">预订人电话：</span><span class="text">1355877445</span></li>
										 			<li><span class="name">预订金额：</span><span class="text">1500元</span></li>
										 			<li><span class="name">预留时间：</span><span class="text">2014-01-23至2015-01-30</span></li>
										 		</ol>
										 	</div>
										 	<span class="checkBox">
										 		<label><span class="gou ifont ifont1">&#xe60c;</span></label>
										 		<input type="checkbox"/>
										 	</span>
										 </dd>
										 <dd data-rentStyle="outRented">
										 	<span class="romm_NUM">编号：G1816</span>
										 	<div class="room-info">
										 		<p class="room-title">主卧01</p>
										 		<p class="room-envirn">独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗</p>
										 	</div>
										 	<!--[if ie 6]>
										 	<div style="height: 0; overflow: hidden;"></div>
										 	<![endif]--> 
										 	<div class="jtBox"><span class="jt"></span>
										 		<div class="detail_Choices">
										 			<ul>
										 				<li><a href="javascript:;">查看</a></li>
										 				<li><a href="javascript:;">续租</a></li>
										 				<li><a href="javascript:;">退租</a></li>
										 				<li><a href="javascript:;">预订</a></li>
										 				<li><a href="javascript:;">停用</a></li>
										 				<li><a href="javascript:;">预约退租</a></li>
										 			</ul>
										 		</div>
										 	</div>
										 	<span class="icon_Style ifont"><span class="outRent">&#xe663;</span></span>
										 	<div class="outRented_Detail tc_Detail">
										 		<ol>
										 			<li><span class="name">退租日期：</span><span class="text">2015/01/01</span></li>
										 			<li class="bzText"><span class="name">备注说明：</span><p>墙体被破坏，重新装修墙体，修复墙面，打扫卫生。</p></li>
										 			<!--[if ie 6]>
										 			<div class="clear"></div>
										 			<![endif]--> 
										 		</ol>
										 	</div>
										 	<span class="checkBox">
										 		<label><span class="gou ifont ifont1">&#xe60c;</span></label>
										 		<input type="checkbox"/>
										 	</span>
										 </dd>
										 <dd data-rentStyle="stopUse">
										 	<span class="romm_NUM">编号：G1816</span>
										 	<div class="room-info">
										 		<p class="room-title">主卧01</p>
										 		<p class="room-envirn">独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗</p>
										 	</div>
										 	<!--[if ie 6]>
										 	<div style="height: 0; overflow: hidden;"></div>
										 	<![endif]--> 
										 	<div class="jtBox"><span class="jt"></span>
										 		<div class="detail_Choices">
										 			<ul>
										 				<li><a href="javascript:;">查看</a></li>
										 				<li><a href="javascript:;">续租</a></li>
										 				<li><a href="javascript:;">退租</a></li>
										 				<li><a href="javascript:;">预订</a></li>
										 				<li><a href="javascript:;">停用</a></li>
										 				<li><a href="javascript:;">预约退租</a></li>
										 			</ul>
										 		</div>
										 	</div>
										 	<span class="icon_Style ifont"><span class="stop">&#xe62e;</span></span>
										 	<div class="stopUse_Detail tc_Detail">
										 		<ol>
										 			<li><span class="name">停用原因：</span><span class="text">装修</span></li>
										 			<li class="bzText"><span class="name">停用说明：</span><span class="text">墙体被破坏，重新装修墙体，修复墙面</span></li>
										 			<li><span class="name">起始日期：</span><span class="text">2015/01/01</span></li>
										 			<li><span class="name">结束日期：</span><span class="text">2015/03/01</span></li>
										 		</ol>
										 	</div>
										 	<span class="checkBox">
										 		<label><span class="gou ifont ifont1">&#xe60c;</span></label>
										 		<input type="checkbox"/>
										 	</span>
										 </dd>
										 <dd data-rentStyle="notRented">
										 	<span class="romm_NUM">编号：G1816</span>
										 	<div class="room-info">
										 		<p class="room-title">主卧01</p>
										 		<p class="room-envirn">独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗独立阳台 独卫 飘窗</p>
										 	</div>
										 	<!--[if ie 6]>
										 	<div style="height: 0; overflow: hidden;"></div>
										 	<![endif]--> 
										 	<div class="jtBox"><span class="jt"></span>
										 		<div class="detail_Choices">
										 			<ul>
										 				<li><a href="javascript:;">查看</a></li>
										 				<li><a href="javascript:;">续租</a></li>
										 				<li><a href="javascript:;">退租</a></li>
										 				<li><a href="javascript:;">预订</a></li>
										 				<li><a href="javascript:;">停用</a></li>
										 				<li><a href="javascript:;">预约退租</a></li>
										 			</ul>
										 		</div>
										 	</div>
										 	<span class="rent_Style notRented">未出租</span>
										 	<div class="notRented_Detail tc_Detail">
										 		<ol>
										 			<li><span class="name">房间户型：</span><span class="text">单间主卧</span></li>
										 			<li><span class="name">房间租金：</span><span class="text">500元/月</span></li>
										 			<li><span class="name">空置天数：</span><span class="text">159天</span></li>
										 		</ol>
										 	</div>
										 	<span class="checkBox">
										 		<label><span class="gou ifont ifont1">&#xe60c;</span></label>
										 		<input type="checkbox"/>
										 	</span>
										 </dd>-->